@{
    ViewData["Title"] = "Shop4U";
    var cartItems = ViewData["CartItems"] as List<Items>;
    var total = Convert.ToInt32(ViewData["Total"]);

}
<div class="card">
    <div class="card-header text-center  bg-black">
        <b class="text-warning h2 ">Shop 4 U</b>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price/Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cartItems)
                {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.ItemPrice</td>
                    </tr>
                }
                <tr>
                    <th>Total</th>
                    <th></td>
                    <th>@total</th>
                </tr>
                <tr>
                    <th>Cupon Code</th>
                    <th><input type="text" id="cupon" name="cupon" placeholder="cupon code" /></th>
                    <th><button name="btn_cupon" id="btn_cupon">apply cupon</button></th>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<script>
    $('#btn_cupon').click(function () {

        @{
            var cart = ViewData["CartItems"] as List<Items>;
            }

           
      var cupon = $('#cupon').val();
        if (cupon == 'CDP10') {
            @{
                total = (total/10);}
            }
        if (cupon == 'CDPCAP') {
            if (cart[1].Quantity > 0) {
                while (cart[1].Quantity > 1) {
                    cart[3].Quantity = cart[3].Quantity - 1;
                    @{
                        total = total - 2000;
                    }
                 }
            }
        }
    });
</script>

