@{
    ViewData["Title"] = "Shop4U";
    var cartItems = ViewData["CartItems"] as List<Items>;
    var total = Convert.ToInt32(ViewData["Total"]);

}
<div class="card">
    <div class="card-header text-center  bg-black">
        <b class="text-warning h2 ">Shop 4 U</b>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price/Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cartItems)
                {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.ItemPrice</td>
                    </tr>
                }
                <tr>
                    <th>Total</th>
                    <th></td>
                    <th>@total</th>
                </tr>
                <tr>
                    <th>Cupon Code</th>
                    <th><input type="text" placeholder="cupon code" /></th>
                    <th><button>apply cupon</button></th>
                </tr>
            </tbody>

        </table>
    </div>
</div>